@import "helper";
body {
  color: $base4;
  font-family: "Poppins",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: visible;
}
img {
  max-width:100%;
  height:auto
}
h1, h2, h3, h4, h5, h6 {
  color: $base3;
  font-weight: 600;
}
p:last-child {
  margin-bottom: 0;
}
a, button{
  text-decoration:none;
  color: $base4;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

*:focus {
  outline:0px solid
}
a:focus {
  color: $base3;
  outline: medium none;
  text-decoration: none;
}
a:hover {
  color: $base2;
  text-decoration: none;
}
ul{
  list-style: outside none none;
  margin: 0;
  padding: 0
}

.fix {
  overflow:hidden
}
.clear{
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.table, .table-cell {
  display: table;
  height: 100%;
  margin: 0;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.margin-0 {
  margin: 0px !important;
}
.margin-top-90 {
  margin-top: 90px !important;
}
.margin-bottom-90 {
  margin-bottom: 90px !important;
}
.margin-bottom-25 {
  margin-bottom: 25px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-90 {
  margin-bottom: 90px !important;
  margin-top: 90px !important;
}
.padding-0 {
  padding: 0px !important;
}
.padding-top-80 {
  padding-top: 80px !important;
}
.padding-top-90 {
  padding-top: 90px !important;
}
.padding-bottom-90 {
  padding-bottom: 90px !important;
}
.padding-90 {
  padding-bottom: 90px !important;
  padding-top: 90px !important;
}
.overlay {
  background: rgba(0,0,0,0.5);
  display: block;
  height: 100%;
  width: 100%;
}
.section-title {
  margin-bottom: 50px;
  position: relative;
}
.section-title h1 {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 24px;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 13px;
}
.section-title p {
  padding-bottom: 13px;
}
.section-title::before {
  width: 64px;
  height: 1px;
  background: #dddddd;
  margin-left: -32px;
  bottom: 0px;
  left: 50%;
  content: "";
  position: absolute;
}
.bg-off-white {
  background: #f8f8f8;
}

.button {
  background: $base3 none repeat scroll 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: $overlay;
  color: $base1;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  line-height: 36px;
  padding: 0 26px;
  text-align: center;
  text-transform: uppercase;
}
.button.color {
  background: $base2 none repeat scroll 0 0;
  border-color: $base2;
}
.button.transparent {
  background: transparent;
  color: $base3;
}
.button.color.transparent {
  color: $base2;
}
.button.small {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}
.button.large {
  height: 42px;
  line-height: 42px;
  padding: 0 32px;
}
.button:hover {
  background: transparent;
  color: $base3;
}
.button.color:hover {
  background: transparent;
  color: $base2;
}
.button.transparent:hover {
  background: $base3;
  color: $base1;
}
.button.color.transparent:hover {
  background: $base2;
}
.button.color-hover:hover {
  background: $base2;
  border-color: $base2;
  color: $base1;
}
.button.white-hover:hover {
  background: $base1;
  border-color: $base1;
  color: $base2;
}
.button.black-hover:hover {
  background: $base3;
  border-color: $base3;
  color: $base1;
}

#scrollUp {
  background: $base2 none repeat scroll 0 0;
  bottom: 30px;
  color: $base1;
  height: 40px;
  right: 30px;
  text-align: center;
  width: 40px;
}
#scrollUp i {
  font-size: 16px;
  line-height: 40px;
}