$base1: #ffffff;
//Color options for $base2
// #82B440
// #0798BC
// #069A97
// #FF6853
// #FF1654
// #58C433
// #3065B5
$base2: #ff1654;
$base3: #303030;
$base4: #606060;
$base5: #F5F5F5;

$black: #000000;

$overlay: $black;
$overlay2: #50222C;

$sucess: #82B440;