@import "../../libs/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../global/global";
@import "../includes/header";
@import "../includes/footer";
//Title
.section-title {
  h2 {
    font-size: 40px;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
    margin-top: 0;
    &:before {
      position: absolute;
      left: 0;
      top: 56px;
      height: 10px;
      width: 74px;
      background: $base2;
      content: "";
      z-index: 1;
    }
  }
}

//Breadcrumb
#nw-breadcrumb {
  margin-top: 90px;
  background: $black;
  font-size: 20px;
  color: $base1;
  padding: 40px 0;
  a {
    color: $base2;
    text-transform: capitalize;
  }
}

//Contact
.contact-area {
  background: $base5;
}

.contact-details-list {
  background: $base1;
  margin-top: 30px;
  padding: 30px;
}

.contact-icon {
  float: left;
  margin-bottom: 30px;
  margin-right: 15px;
  i {
    font-size: 20px;
    color: $base2;
  }
}

.single-contact {
  margin-bottom: 22px;
  h2 {
    font-size: 18px;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.contact-form {
  margin-top: 30px;
  input[type='submit'] {
    display: inline-block;
    color: $base1;
    padding: 12px 25px;
    text-transform: capitalize;
    font-size: 14px;
    border: 1px solid $base2;
    background-color: $base2;
    border-radius: 0;
    font-weight: 600;
    &:hover {
      background: transparent;
      color: $black;
      border: 1px solid $base2;
      -webkit-transition: .3s;
      transition: .3s;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.42857143;
  color: $black;
  background-color: transparent;
  background-image: none;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 10px;
  padding: 17px 7px 14px 15px;
  border: 1px solid #f2f2f2;
  background: $base1;
  -webkit-transition: .3s;
  transition: .3s;
  &:focus {
    border-color: $base2;
    outline: 0;
    box-shadow: none;
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.success {
  background: $sucess none repeat scroll 0 0;
  color: $base1;
  font-weight: 700;
  padding: 20px;
  text-align: center;
}